<div class="layout">

  <!-- Sidebar -->
  <nav>
    <div class="menu">
      <a routerLink="/dashboard" routerLinkActive="active" class="menu-button">Dashboard</a>
      <a routerLink="/cpu" routerLinkActive="active" class="menu-button">CPU</a>
      <a routerLink="/memory" routerLinkActive="active" class="menu-button">Memory</a>
      <a routerLink="/storage" routerLinkActive="active" class="menu-button">Storage</a>
      <a routerLink="/network" routerLinkActive="active" class="menu-button">Network</a>
      <a routerLink="/processes" routerLinkActive="active" class="menu-button">Processes</a>
      <a routerLink="/settings" routerLinkActive="active" class="menu-button">Settings</a>
    </div>
  </nav>
  

  <!-- Main -->
  <div class="main">

    <!-- Topbar -->
    <header class="topbar">
      <div class="left">
        <!-- My network deja apare în sidebar -->
      </div>

      <div class="right">
        <select class="timeline-select">
          <option>Last 30 minutes</option>
          <option>Last hour</option>
          <option>Last 3 hours</option>
          <option>Last day</option>
          <option>Last 3 days</option>
          <option>Last week</option>
          <option>Last 2 weeks</option>
          <option>Last month</option>
        </select>
        <button class="edit-button">Edit Dashboard</button>
        <button (click)="toggleTheme()" class="theme-button">Toggle Theme</button>
      </div>
    </header>

    <!-- Pagini -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
